# The DOMAIN environment variable will define the site address.
# Caddy will automatically request and renew SSL certificates for it.
# (If set to 'localhost' or an IP, Caddy will serve over HTTP automatically).
{$DOMAIN} {
    reverse_proxy web:8000
}
